body {
    margin: 0;
}
footer {
    display: flex;
    justify-content: center;
    background: black;
    color: white;
    padding: 1em;
    margin-top: 1em;
}
header {
    display: flex;
    justify-content: center;
    background: black;
    color: white;
    padding: 1em;
    margin-bottom: 1em;
}
.wrapper {
    margin: 0 auto;
    width: 30em;
    padding-bottom: 3em;
}
h3 {
    display: flex;
    justify-content: center;
}